@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-color: rgb(51, 119, 163);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
}

.darkerBackground {
  background-color: rgba(10, 39, 59, 0.7);
}

.header {
  width: 120vw;
  height: 60px;
  line-height: 60px;
  transition: 0.5s;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.header:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.large-nav {
  display: none;
}

#langToggle {
  padding-right: 30vw;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.pointer {
  cursor: pointer;
}

.contactHolder {
  width: auto;
  height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 0 auto;
  text-align: center;
}

.textHolder {
  padding-top: 25vh;
  margin-left: 2.5vw;
}

.emphasis {
  font-size: 20px;
  font-weight: bold;
}

.image {
  height: 38vh;
  border-radius: 5%;
  box-shadow: 13px 16px 24px 0px rgba(25, 33, 113, 0.6);
}

.carousel {
  width: auto;
}

.certificate {
  line-height: 30px;
}
.schoolName {
  text-decoration: none;
}

#publications {
  padding-bottom: 35vh;
}

.science1 {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}


.science2 {
  width: 100px;
  height: 100px;
  background-color: red;
}

@media screen and (min-width: 992px) {
  .menuButton {
    display: none;
  }

  .header {
    padding: 0px 12vw 0px 3vw;
    width: 100vw;
  }

  #langToggle {
    padding-right: 0vw;
  }

  .large-nav {
    display: initial;
  }

  .contactHolder {
    position: fixed;
    top: 8vh;
    right: 12vw;
    text-align: start;
    padding-top: 0vw;
    padding-left: 10vw;
  }
  .textHolder {
    padding-top: 20vh;
  }
}
