body {
  text-align: center;
  background-color: rgb(51, 119, 163);
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.header {
  width: 100vw;
  height: 6vh;
  line-height: 6vh;
  background-color: rgba(10, 39, 59, 0.3);
  transition: 0.5s;
  position: fixed;
  top: 0px;
}

.header:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav ul, .contact-list {
  list-style-type: none;

}

.pointer {
  cursor: pointer;
}

.contactHolder {
  width: 25vw;
  position: fixed;
  top: 15vh;
  right: 0;
}

.textHolder {
  margin-top: 35vh;
  margin-left: 2.5vw;
}

.image {
  height: 35vh;
  border-radius: 5%;
  box-shadow: 13px 16px 24px 0px rgba(25, 33, 113, 0.6);
}



